factory/.DS_Store
strategy/.DS_Store
.DS_Store
tsconfig.json
strategy/duck.js
strategy/fly-strategies.js
strategy/client.js
exercise/axe-behavior.ts
exercise/character-factory.ts
exercise/character.ts
exercise/client.ts
exercise/dwarf.ts
exercise/king.ts
exercise/knight.ts
exercise/sword-behavior.ts
exercise/weapon-behavior.ts
